{% extends 'base.html.twig' %}

{% block title %}Nuevo Articulo{% endblock %}

{% block body %}
    <h1>Crear nuevo Articulo</h1>

    {{ include('articulo/_form.html.twig') }}

    <br><a href="{{ path('articulo_index') }}" class="btn btn-primary">Volver atras</a>
{% endblock %}
